*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

:root{
    --back-header:#8E9AAF;
    --text-white:#ffffff;
    --back-title:#CBC0D3;
    --back-body:#EFF1FF;
    --back-text:#FEEAFA;
    --text-darck:#4A4E69;
    --text-dark-light:#23053A;

    --font-primary:'Staatliches', cursive;
    --font-secundary:'Palanquin', sans-serif;

    font-size: 62.5%;
}

body{
    background-color: var(--back-body);
    font-size: 1.6rem;
}

.container{
    max-width: 38.4rem;
    margin: 0 auto;

}

header{
    text-align: center;
    position: relative;
    padding: 3.2rem 0 6.3rem;
    
}

body::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 27.9rem;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--back-header);
}

header img{
    max-width: 13.7rem;
    margin-bottom: 3.2rem;
}

header h1{
    background-color: var(--back-title);
    color: var(--text-white);
    font-family: var(--font-primary);
    font-weight: 400;
    padding: 8px 0;
    font-size: 4rem;
    line-height: 2.5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 3.6rem;
    animation: left 2s 500ms backwards;
}

header p{
    font-family: var(--font-secundary);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--text-dark-light);
    text-align: center;
    margin-top: 5rem;
    animation: down 2s 500ms backwards;
}

main{
    padding: 1.4rem 3.2rem 6rem;
}


.card-wrapper{
    display: grid;
    gap: 3.2rem;
}

.card{
    position: relative;
}

 .S img{
    height: 45rem;
}

.I img{
    height: 25rem;
}

.card img{
    animation: topdown 2s 400ms backwards;
}

.card img ,h2{
    border-radius: 2rem;
    object-fit: cover;
}

.card h2{
    position: absolute;
    font-family: var(--font-primary);
    color: var(--text-darck);
    top: 1.6rem;
    right: 1.6rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    background-color: var(--back-text);
    height: 3.5rem;
    padding: 0 2.4rem;
    animation: down 2s 500ms backwards;
}

footer{
    opacity: 0;
    visibility: hidden;
}


@keyframes topdown {
    0%{
        opacity: 0;
        transform: translateY(20px)
    }

    100%{

        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down {
    0%{
        opacity: 0;
        transform: translateY(-20px)
    }

    100%{

        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes left {
    0%{
        opacity: 0;
        transform: translateX(-20px)
    }

    100%{

        opacity: 1;
        transform: translateX(0)
    }
}

@media (min-width:778px) {
    header p{
        color: white;
    }

    main .card-wrapper{
        grid-area: main;
        width: 100%;

        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        grid-template-areas:
          "A B C"
          "D B F"
          "D E F";
    }

    .card{
        width: 100%;
    }

    .card-wrapper .card:nth-child(1){
        grid-area: A;
    }

    .card-wrapper .card:nth-child(2){
        grid-area: B;
    }

    .card-wrapper .card:nth-child(3){
        grid-area: C;
    }

    .card-wrapper .card:nth-child(4){
        grid-area: D;
    }

    .card-wrapper .card:nth-child(5){
        grid-area: E;
    }

    .card-wrapper .card:nth-child(6){
        grid-area: F;
    }

    .card-wrapper h2{
        opacity: 0;
        visibility: hidden;
    }
    

    .S img{
        width: 100%;
        height: 35rem;
    }
    
    .I img{
        width: 100%;
        height: 15rem;
    }

}

@media (min-width:1000px) {
    body::before{
        content:'';
        position: absolute;
        width: 37.7rem;
        height:100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--back-header);
    }

    .container{
        display: grid;
        grid-area: "header main";
        
        grid-template-columns: 37.7rem 2fr;
        max-width: 100%;
    }

    header{
        grid-area: header;
    }

    main{
        padding:0 9.8rem 0;
    }

    main .card-wrapper{
        margin-top: 5rem ;
        margin-bottom: 3rem;
    }

    footer{
        text-align: center;
    }
}